/* GLOBAL */
:root{
    --body-bg:#fff;
    --outline-color:var(--main-color);
    --heading-color:#000;
    --text-color:#333;
    --main-color:#0a775f;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Roboto', 'Arial',  sans-serif;
}

*, *::before, *::after{
    box-sizing: inherit;
}
img{
    width: 100%;
    height: auto;
}

/* OUTLINE */
*:focus{
    outline: 2px dashed var(--outline-color);
    outline-offset: 3px;
}

/* BUTTON */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    border-radius: 100px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.button:hover{
    opacity: 0.8;
}

.button:active{
    opacity: 0.6;
}

.button-green {
    background-color: var(--main-color);
}

.button-brown {
    background-color: #c99b67;
}
/* CONTAINER */
.container{
    width: 100%;
    max-width: 1440px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* MAIN-CONTENT */
    .main-content{
        flex-grow: 1;
    }

/* HEADER-INNER-WRAPPER */
.hero-header-wrapper {
    background-image: url(../img/light-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

/* HEADER */
.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}

.header-logo-link {
    text-decoration: none;
}

.header-logo-link:hover {
    opacity: 0.8;
}

.header-logo-link:active {
    opacity: 0.6;
}

.header-logo-img {
    width: 234px;
    height: 24px;
    object-fit: contain;
}

/* SITENAV */
.sitenav-list {
    display: flex;
}

.sitenav-item{
    list-style: none;
}

.sitenav-item:not(:last-child) {
    margin-right: 40px;
}
.sitenav-link {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-weight: 700;
    color: var(--text-color);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
}

.sitenav-link:hover{
    color: var(--main-color);
}

.sitenav-link:active{
    opacity: 0.6;
}

/* HERO */
.hero {
    margin:0;
    padding: 0;
}

.hero-container {
    display: flex;
}

.hero-info-wrapper {
    width: 100%;
    max-width: 730px;
    padding-top: 116px;
    padding-right: 116px;
    padding-bottom: 100px;
    padding-left: 150px;
}

.hero-heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: normal;
    font-weight: 700;
    color: var(--heading-color);
}

.hero-text {
    margin-top: 0;
    margin-bottom: 34px;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: var(--heading-color);
}

.hero-img {
    width: 710px;
    height: 596px;
    object-fit: cover;
}

.hero-img-person{
    width: 710px;
    height: 696px;
}

/* OUR COLLECTION */
.index-collection {
    margin-top: 20px;
}   

.index-collection-container {
    background-image: url(../img/collection-bg.jpg);
    padding: 50px 143px;
}

.index-collection-heading {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    line-height: normal;
    font-weight: 700;
    color: var(--heading-color);
    text-transform: uppercase;
}

.index-collection-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.index-collection-item {
    display: flex;
    align-items: center;
}

.index-collection-item:nth-child(odd){
    padding-right: 94px;
}

.index-collection-item:nth-child(odd) .index-collection-info{
    padding-left: 117px;
}

.index-collection-item:nth-child(even){
    flex-direction: row-reverse;
    padding-left: 157px;
}

.index-collection-item:nth-child(even) .index-collection-info{
    padding-right: 117px;
}

.index-collection-img {
    width: 450px;
    height: 375px;
    object-fit: cover;
    flex-shrink: 0;
}

.index-collection-info {
    flex-grow: 1;
}

.index-collection-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 48px;
    line-height: normal;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}

.index-collection-text {
    margin-top: 0;
    font-size: 22px;
    line-height: 34px;
    font-weight: 400;
    color: #333;
}

/* FEATURES  */
.features {
    margin-top: 20px;
}

.features-inner {
    padding: 50px 30px 80px;
    background-image: url(../img/Rectangle\ 116features-bg.jpg);
    background-size: auto, 703px;
    background-repeat: no-repeat;
}

.features-heading {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 50px;
    line-height: normal;
    font-weight: 700;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.features-text {
    margin-top: 0;
    margin-right: auto;
    margin-bottom:  80px;
    margin-left: auto;
    max-width: 581px;
    font-size: 16px;
    line-height: 1.75;
    font-weight: 400;
    color: #fff;
    text-align: center;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-left: -20px;
    list-style: none;
}

.features-item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;   
}

.features-item-img {
    width: 433px;
    max-width: 100%;
    height: 500px;
    object-fit: cover;
}

.features-item-title {
    margin-top: 28px;
    margin-bottom: 10px;
    font-size: 30px;
    line-height: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--text-color);
}

.features-item-text {
    max-width: 377px;
    margin-top: 0;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    color: var(--text-color);
}

/* HOW-IT-WORKS */
.how-it-works {
    margin-top: 0;
    margin-bottom: 50px;
}

.how-it-works-inner {
    margin: 0;
    background-image:url(../img/how-it-works-bg.jpg);
    background-repeat: no-repeat;
    padding: 50px 30px;
}

.how-it-works-heading {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.gow-it-works-list {
    margin: 0;
    padding: 0;
    margin-left: -20px;
    list-style: none;
    display: flex;
}

.how-it-works-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-bottom: 30px;
    margin-left: 20px;
}

.how-it-works-item::before{
    content:"";
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    border:4px solid #c99b67;
    background-color: #f8f8f2;
}

.how-it-works-info {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 40px;
    background-color: #f8f8f2;
    flex-grow: 1;
}
.how-it-works-info::before{
    content: "0"counter(how-it-works);
    font-size: 64px;
    line-height: normal;
    font-weight: 400;
    color: var(--text-color);
    text-align: right;
}

.how-it-works-item-heading{
    width: 100%;
    max-width: 245px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 40px;
    line-height: normal;
    font-weight: 500;
    color: var(--text-color);
    text-transform: uppercase;
}

.how-it-works-text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.55;
    font-weight: 400;
    color:var(--text-color);
    text-align: left;
}

.how-it-works-link-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

/* FOOTER */
.footer-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 50px;
    background-image: url(../img/light-bg.jpg);
}

.social-networks-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-networks-item:not(:last-child) {
    margin-right: 30px;
}

.social-networks-link {
    display: block;
    color: var(--text-color);
    text-decoration: none;
}

.social-networks-link:hover{
    color: var(--main-color);
}

.social-networks-link:active{
    opacity: 0.6;
}

.social-networks-icon {
    width: 30px;
    height: 30px;
    object-fit: cover;
}